.kirby {
    margin: 0;
    padding: 0;
}

.kirby img {
    height: 50%;
    /* width: 60%; */
}

.kirby h1 {
    padding-bottom: 40px;
    font-size: 40px;
    font-family: monospace;
    color: firebrick;
}