html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
    background: url('../imagenes/pink.jpg') no-repeat 50% 50%;
    position: fixed;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.full_inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.titulo {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 92px;
    color: #ffcad4;
    text-shadow: 0 8px 9px #f4acb7, 0px -2px 1px #ffe5d9;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    position: absolute;
    padding: 100px 200px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}


.btn {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #fbc4ab 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 140px;
  margin-bottom: 43px;
}

.btn:hover {
  background-color: #ff758f;
  box-shadow: #a4133c 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn:active {
  transform: scale(1.025);
}

.links {
  height: 17px;
  width: 15px;
  display: flex;
  margin-bottom: -200px;
}

.mini_box img{
    height: 60px;
    width: 60px;
    padding: 10px;
}



  /* .btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 260px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
} */

/* .btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.ingresar {
  font-family: monospace;
  font-size: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */